<div [class]="classHeader()">
    <div class="menu">
        <div class="box home">
            <div class="inBox">
                <div class="icon">
                    <fa-icon [icon]="faHome"></fa-icon>
                </div>
                <div class="txt">
                    Home
                </div>
                <span class="tooltipYT">Home</span>
            </div>
        </div>
    
        <div class="box pc">
            <div class="inBox">
                <div class="icon">
                    <fa-icon [icon]="faFire"></fa-icon>
                </div>
                <div class="txt">
                    Trending
                </div>
                <span class="tooltipYT">Trending</span>
            </div>
        </div>

        <div class="box phone">
            <div class="inBox">
                <div class="icon">
                    <fa-icon [icon]="faCompass"></fa-icon>
                </div>
                <div class="txt">
                    Explore
                </div>
                <span class="tooltipYT">Explore</span>
            </div>
        </div>

        <div class="box">
            <div class="inBox">
                <div class="icon">
                    <fa-icon [icon]="faPlayCircle"></fa-icon>
                </div>
                <div class="txt">
                    Subscriptions
                </div>
                <span class="tooltipYT">Subscriptions</span>
            </div>
        </div>

        <div class="box phone">
            <div class="inBox">
                <div class="icon">
                    <fa-icon [icon]="faBell"></fa-icon>
                </div>
                <div class="txt">
                    Notifications
                </div>
                <span class="tooltipYT">Notifications</span>
            </div>
        </div>
    </div>
    
    <div class="userMenu">
        <div class="box">
            <div class="inBox">
                <div class="icon">
                    <fa-icon [icon]="faPhotoVideo"></fa-icon>
                </div>
                <div class="txt">
                    Library
                </div>
                <span class="tooltipYT">Library</span>
            </div>
        </div>

        <div class="hidden">
            <div class="box">
                <div class="inBox">
                    <div class="icon">
                        <fa-icon [icon]="faHistory"></fa-icon>
                    </div>
                    <div class="txt">
                        History
                    </div>
                    <span class="tooltipYT">History</span>
                </div>
            </div>
    
            <div class="box">
                <div class="inBox">
                    <div class="icon">
                        <fa-icon [icon]="faCaretSquareRight"></fa-icon>
                    </div>
                    <div class="txt">
                        Your videos
                    </div>
                    <span class="tooltipYT">Your videos</span>
                </div>
            </div>
    
            <div class="box">
                <div class="inBox">
                    <div class="icon">
                        <fa-icon [icon]="faClock"></fa-icon>
                    </div>
                    <div class="txt">
                        Watch later
                    </div>
                    <span class="tooltipYT">Watch later</span>
                </div>
            </div>
        </div>
    </div>

    <div class="userMenu">
        <div class="hidden">
            <div class="title">
                Subscriptions
            </div>
        </div> 
    </div>

    <div class="userMenu">
        <div class="hidden">
            <div class="title">
                Others youtube contents
            </div>

            <div class="box">
                <div class="inBox">
                    <div class="icon">
                        <fa-icon [icon]="faPlay"></fa-icon>
                    </div>
                    <div class="txt">
                        Youtube Premium
                    </div>
                    <span class="tooltipYT">Youtube Premium</span>
                </div>
            </div>

            <div class="box">
                <div class="inBox">
                    <div class="icon">
                        <fa-icon [icon]="faReceipt"></fa-icon>
                    </div>
                    <div class="txt">
                        Movies and TV
                    </div>
                    <span class="tooltipYT">Movies and TV</span>
                </div>
            </div>

            <div class="box">
                <div class="inBox">
                    <div class="icon">
                        <fa-icon [icon]="faGamepad"></fa-icon>
                    </div>
                    <div class="txt">
                        Video games
                    </div>
                    <span class="tooltipYT">Video games</span>
                </div>
            </div>

            <div class="box">
                <div class="inBox">
                    <div class="icon">
                        <fa-icon [icon]="faTower"></fa-icon>
                    </div>
                    <div class="txt">
                        Live
                    </div>
                    <span class="tooltipYT">Live</span>
                </div>
            </div>

            <div class="box">
                <div class="inBox">
                    <div class="icon">
                        <fa-icon [icon]="faBooth"></fa-icon>
                    </div>
                    <div class="txt">
                        Fashion and beauty
                    </div>
                    <span class="tooltipYT">Fashion and beauty</span>
                </div>
            </div>

            <div class="box">
                <div class="inBox">
                    <div class="icon">
                        <fa-icon [icon]="faLightbulb"></fa-icon>
                    </div>
                    <div class="txt">
                        Learn
                    </div>
                    <span class="tooltipYT">Learn</span>
                </div>
            </div>
        </div> 
    </div>

    <div class="userMenu">
        <div class="hidden">
            <div class="box">
                <div class="inBox">
                    <div class="icon">
                        <fa-icon [icon]="faCog"></fa-icon>
                    </div>
                    <div class="txt">
                        Learn
                    </div>
                    <span class="tooltipYT">Learn</span>
                </div>
            </div>
            <div class="box">
                <div class="inBox">
                    <div class="icon">
                        <fa-icon [icon]="faFlag"></fa-icon>
                    </div>
                    <div class="txt">
                        Settings
                    </div>
                    <span class="tooltipYT">Settings</span>
                </div>
            </div>
            <div class="box">
                <div class="inBox">
                    <div class="icon">
                        <fa-icon [icon]="faQuestion"></fa-icon>
                    </div>
                    <div class="txt">
                        Reporting history
                    </div>
                    <span class="tooltipYT">Reporting history</span>
                </div>
            </div>
            <div class="box">
                <div class="inBox">
                    <div class="icon">
                        <fa-icon [icon]="faComment"></fa-icon>
                    </div>
                    <div class="txt">
                        Send feedback
                    </div>
                    <span class="tooltipYT">Send feedback</span>
                </div>
            </div>
        </div>
    </div>
    
    <div class="userMenu">
        <div class="hidden">
            <div class="about">
                <div class="txt">
                    <div class="cursor">
                        About
                        Press
                    </div>
                    <div class="cursor">
                        Copyright 
                        Contact us 
                    </div>
                    <div class="cursor">
                        Creators
                        Advertising 
                    </div>
                    <div class="cursor">
                        Developers
                    </div>
                </div>
            </div>
            <div class="conditions">
                <div class="txt">
                    <div class="cursor">
                        Terms of Service
                    </div>
                    <div class="cursor">
                        Privacy 
                    </div>
                    <div class="cursor">
                        Policy & Security
                    </div>
                    <div class="cursor">
                        Get Started with YouTube 
                    </div>
                    <div class="cursor">
                        Try New Features
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


