<div class="side-content">
    <div class="block-b">
        <div class="block-side">
            <div class="haut-title">
                More of
            </div>
            <div class="title">
                Featured videos
            </div>
            <a href="https://www.dailymotion.com/video/x7wx4n5?playlist=x5nmbq" target="_blank">
                <div class="vids-container">
                    <div class="vids">
                        <img class="vids-img" src="../../../../assets/Daily/arte.jpg">
                    </div>
                    <div class="vids-txt">
                        <div class="title-vids">
                        Un couvre-feu en Allemagne ? | 19/10/2020 | Désintox | ARTE
                        </div>
                        <div class="channel">
                            <div class="icon">
        
                            </div>
                            <div class="name-channel">
                                Désintox - Arte
                            </div>
                        </div>
                        <div class="addTime">
                            Add 20 hours ago
                        </div>
                    </div>
                </div>
            </a>
    
            <a href="https://www.dailymotion.com/video/x7wx76m?playlist=x5nmbq" target="_blank">
                <div class="vids-container">
                    <div class="vids">
                        <img class="vids-img" src="../../../../assets/Daily/ccif.jpg">
                    </div>
                    <div class="vids-txt">
                        <div class="title-vids">
                            Qu'est-ce que le CCIF, le Collectif contre l'islamophobie en France ?
                        </div>
                        <div class="channel">
                            <div class="icon">
        
                            </div>
                            <div class="name-channel">
                                Le Point
                            </div>
                        </div>
                        <div class="addTime">
                            Add 20 hours ago
                        </div>
                    </div>
                </div>
            </a>
    
            <a href="https://www.dailymotion.com/video/x7wxlyy?playlist=x5nmbq" target="_blank">
                <div class="vids-container">
                    <div class="vids">
                        <img class="vids-img" src="../../../../assets/Daily/euronexs.jpg">
                    </div>
                    <div class="vids-txt">
                        <div class="title-vids">
                            Changement climatique:l'érosion des côtes britanniques s'accélère
                        </div>
                        <div class="channel">
                            <div class="icon">
        
                            </div>
                            <div class="name-channel">
                                euronews (en français)
                            </div>
                        </div>
                        <div class="addTime">
                            Add 5 hours ago
                        </div>
                    </div>
                </div>
            </a>
        </div>
    
        <div class="block-side">
            <div class="haut-title">
                Les vidéos
            </div>
            <div class="title">
                Qu'il ne fallait pas manquer
            </div>
            <a href="https://www.dailymotion.com/video/x7wx6lc?playlist=x5nmbq" target="_blank">
                <div class="vids-container">
                    <div class="vids">
                        <img class="vids-img" src="../../../../assets/Daily/kenji.jpg">
                    </div>
                    <div class="vids-txt">
                        <div class="title-vids">
                            Kendji Girac - Dernier métro
                        </div>
                        <div class="channel">
                            <div class="icon">
        
                            </div>
                            <div class="name-channel">
                                Kendji Girac
                            </div>
                        </div>
                        <div class="addTime">
                            Add 21 hours ago
                        </div>
                    </div>
                </div>
            </a>
    
            <a href="https://www.dailymotion.com/video/x7wxmdx?playlist=x5nmbq" target="_blank">
                <div class="vids-container">
                    <div class="vids">
                        <img class="vids-img" src="../../../../assets/Daily/ferrer.jpg">
                    </div>
                    <div class="vids-txt">
                        <div class="title-vids">
                            Séverine Ferrer:pourquoi elle n'a jamais voulu "sacrifier" sa vie de maman
                        </div>
                        <div class="channel">
                            <div class="icon">
        
                            </div>
                            <div class="name-channel">
                                Non Stop People
                            </div>
                        </div>
                        <div class="addTime">
                            Add 5 hours ago
                        </div>
                    </div>
                </div>
            </a>
    
            <a href="https://www.dailymotion.com/video/x7wx1oi?playlist=x5nmbq" target="_blank">
                <div class="vids-container">
                    <div class="vids">
                        <img class="vids-img" src="../../../../assets/Daily/woodkid.jpg">
                    </div>
                    <div class="vids-txt">
                        <div class="title-vids">
                            Music Masters:les conseils de Woodkid percer dans la musique
                        </div>
                        <div class="channel">
                            <div class="icon">
        
                            </div>
                            <div class="name-channel">
                                Konbini
                            </div>
                        </div>
                        <div class="addTime">
                            Add yesterday
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="block-b">
        <div class="block-side">
            <div class="haut-title">
                Discover the videos
            </div>
            <div class="title">
                Of euronews (en français)
            </div>
            <a href="https://www.dailymotion.com/video/x7wxpi2" target="_blank">
                <div class="vids-container">
                    <div class="vids">
                        <img class="vids-img" src="../../../../assets/Daily/guinée.jpg">
                    </div>
                    <div class="vids-txt">
                        <div class="title-vids">
                            Présidentielle en Guinée : l'opposant Cellou Dalein Diallo revendique la victoire
                        </div>
                        <div class="channel">
                            <div class="icon">
        
                            </div>
                            <div class="name-channel">
                                euronews (en français)
                            </div>
                        </div>
                        <div class="addTime">
                            Add 3 hours ago
                        </div>
                    </div>
                </div>
            </a>
            
            <a href="https://www.dailymotion.com/video/x7wxpi4" target="_blank">
                <div class="vids-container">
                    <div class="vids">
                        <img class="vids-img" src="../../../../assets/Daily/forêt.jpg">
                    </div>
                    <div class="vids-txt">
                        <div class="title-vids">
                            De la défense des migrants à celle des forêts,la nouvelle vie de Carola Rackete
                        </div>
                        <div class="channel">
                            <div class="icon">
        
                            </div>
                            <div class="name-channel">
                                euronews (en français)
                            </div>
                        </div>
                        <div class="addTime">
                            Add 3 hours ago
                        </div>
                    </div>
                </div>
            </a>
    
            <a href="https://www.dailymotion.com/video/x7wxpe8" target="_blank">
                <div class="vids-container">
                    <div class="vids">
                        <img class="vids-img" src="../../../../assets/Daily/isla.jpg">
                    </div>
                    <div class="vids-txt">
                        <div class="title-vids">
                            Islamisme et liberté d'expression...:les sujets soulevés par l'assassinat du professeur
                        </div>
                        <div class="channel">
                            <div class="icon">
        
                            </div>
                            <div class="name-channel">
                                euronews (en français)
                            </div>
                        </div>
                        <div class="addTime">
                            Add 3 hours ago
                        </div>
                    </div>
                </div>
            </a>
        </div>
    
    </div>

    <div class="block-b">
        <div class="block-side">
            <div class="haut-title">
                Discover the videos
            </div>
            <div class="title">
                Of CANAL+ Sport
            </div>
            <a href="https://www.dailymotion.com/video/x7wxo56" target="_blank">
                <div class="vids-container">
                    <div class="vids">
                        <img class="vids-img" src="../../../../assets/Daily/j5.jpg">
                    </div>
                    <div class="vids-txt">
                        <div class="title-vids">
                            Le best of de la J5 de Premier League !
                        </div>
                        <div class="channel">
                            <div class="icon">
        
                            </div>
                            <div class="name-channel">
                                CANAL+ Sport
                            </div>
                        </div>
                        <div class="addTime">
                            Add 4 hours ago
                        </div>
                    </div>
                </div>
            </a>
    
            <a href="https://www.dailymotion.com/video/x7wxc3n" target="_blank">
                <div class="vids-container">
                    <div class="vids">
                        <img class="vids-img" src="../../../../assets/Daily/leeds.jpg">
                    </div>
                    <div class="vids-txt">
                        <div class="title-vids">
                            Le résumé de leeds / Wolverhampton (version courte)
                        </div>
                        <div class="channel">
                            <div class="icon">
        
                            </div>
                            <div class="name-channel">
                                CANAL+ Sport
                            </div>
                        </div>
                        <div class="addTime">
                            Add 15 hours ago
                        </div>
                    </div>
                </div>
            </a>
    
            <a href="https://www.dailymotion.com/video/x7wxc2h" target="_blank">
                <div class="vids-container">
                    <div class="vids">
                        <img class="vids-img" src="../../../../assets/Daily/manchester.jpg">
                    </div>
                    <div class="vids-txt">
                        <div class="title-vids">
                            Que vaut ce Manchester United ?
                        </div>
                        <div class="channel">
                            <div class="icon">
        
                            </div>
                            <div class="name-channel">
                                CANAL+ Sport
                            </div>
                        </div>
                        <div class="addTime">
                            Add 15 hours ago
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="block-b">
        <div class="block-side">
            <div class="haut-title">
                Discover the videos
            </div>
            <div class="title">
                Of CANAL+ Cinéma 
            </div>

            <a href="https://www.dailymotion.com/video/x7wxp6h" target="_blank">
                <div class="vids-container">
                    <div class="vids">
                        <img class="vids-img" src="../../../../assets/Daily/chamoux.jpg">
                    </div>
                    <div class="vids-txt">
                        <div class="title-vids">
                            Camille Chamoux face à Laurie Cholewa dans Off Tchi Tcha
                        </div>
                        <div class="channel">
                            <div class="icon">
        
                            </div>
                            <div class="name-channel">
                                CANAL+ Cinéma
                            </div>
                        </div>
                        <div class="addTime">
                            Add 4 hours ago
                        </div>
                    </div>
                </div>
            </a>
    
            <a href="https://www.dailymotion.com/video/x7wx7r3" target="_blank">
                <div class="vids-container">
                    <div class="vids">
                        <img class="vids-img" src="../../../../assets/Daily/karin.jpg">
                    </div>
                    <div class="vids-txt">
                        <div class="title-vids">
                            Les Apparences - Souvenirs de tournage cinéma par Karin Viard et Benjamin Biolay
                        </div>
                        <div class="channel">
                            <div class="icon">
        
                            </div>
                            <div class="name-channel">
                                CANAL+ Cinéma
                            </div>
                        </div>
                        <div class="addTime">
                            Add 20 hours ago
                        </div>
                    </div>
                </div>
            </a>
    
            <a href="https://www.dailymotion.com/video/x7wwzmi" target="_blank">
                <div class="vids-container">
                    <div class="vids">
                        <img class="vids-img" src="../../../../assets/Daily/pitch.jpg">
                    </div>
                    <div class="vids-txt">
                        <div class="title-vids">
                            Miss - Le Pitch du Film par Ruben Alves et Alexandre Wetter
                        </div>
                        <div class="channel">
                            <div class="icon">
        
                            </div>
                            <div class="name-channel">
                                CANAL+ Cinéma
                            </div>
                        </div>
                        <div class="addTime">
                            Add 15 hours ago
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    
    <div class="block-b">
        <div class="block-side">
            <div class="haut-title">
                Discover the videos
            </div>
            <div class="title">
                Of melty 
            </div>

            <a href="https://www.dailymotion.com/video/x7snxrv" target="_blank">
                <div class="vids-container">
                    <div class="vids">
                        <img class="vids-img" src="../../../../assets/Daily/booba.jpg">
                    </div>
                    <div class="vids-txt">
                        <div class="title-vids">
                            Alcoolisme, Booba, islam, racisme: Hatik se livre comme jamais dans LYRICS
                        </div>
                        <div class="channel">
                            <div class="icon">
        
                            </div>
                            <div class="name-channel">
                                melty
                            </div>
                        </div>
                        <div class="addTime">
                            Add 7 hours ago
                        </div>
                    </div>
                </div>
            </a>
    
            <a href="https://www.dailymotion.com/video/x2yd79i" target="_blank">
                <div class="vids-container">
                    <div class="vids">
                        <img class="vids-img" src="../../../../assets/Daily/sonic.jpg" width="250px">
                    </div>
                    <div class="vids-txt">
                        <div class="title-vids">
                            Sonic 1 Music: Green Hill Zone
                        </div>
                        <div class="channel">
                            <div class="icon">
        
                            </div>
                            <div class="name-channel">
                                Music
                            </div>
                        </div>
                        <div class="addTime">
                            Add 5 years ago
                        </div>
                    </div>
                </div>
            </a>
    
            <a href="https://www.dailymotion.com/video/x7sc0rv" target="_blank">
                <div class="vids-container">
                    <div class="vids">
                        <img class="vids-img" src="../../../../assets/Daily/naps.jpg">
                    </div>
                    <div class="vids-txt">
                        <div class="title-vids">
                            Dr.Dre,Diam's,Ninho:NAPS balance ses morceaux préférés dans RECOS
                        </div>
                        <div class="channel">
                            <div class="icon">
        
                            </div>
                            <div class="name-channel">
                                melty
                            </div>
                        </div>
                        <div class="addTime">
                            Add 8 hours ago
                        </div>
                    </div>
                </div>
            </a>

        </div>
    </div>

</div>