<div class="top">
    <div class="btn-box">
        <div class="btn store">
            Your Store  &nbsp;
            <div class="icon">
                <fa-icon [icon]="faSortDown"></fa-icon>
            </div>
        </div>
        <div class="btn browse">
            Browse &nbsp;
            <div class="icon">
                <fa-icon [icon]="faSortDown"></fa-icon>
            </div>
        </div>
        <div class="btn shop">
            Point Shop
        </div>
        <div class="btn news">
            News
        </div>
        <div class="btn labs">
            Steam Labs
        </div>

        <div class="search-bar">
            <input type="text" placeholder="search the store">
            <div class="btn-search">
                <div class="icon-btn">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </div>
            </div>
        </div>

        <div class="store-hidden">
            <div class="box-hidden">
                <div class="txt-hidden">
                    Home
                </div>
            </div>
            <div class="line"></div>
            <div class="box-hidden">
                <div class="txt-hidden">
                    Community Recommendations
                </div>
                <div class="txt-hidden">
                    Recently Viewed
                </div>
                <div class="txt-hidden">
                    Steam Curators
                </div>
            </div>
        </div>

        <div class="browse-hidden">
            <div class="column-hidden">
                <div class="box-hidden">
                    <div class="txt-hidden">
                        Free to play
                    </div>
                    <div class="txt-hidden">
                        Early Access
                    </div>
                    <div class="txt-hidden">
                        Demos
                    </div>
                    <div class="txt-hidden">
                        Controller Friendly
                    </div>
                    <div class="txt-hidden">
                        For PC Cafés
                    </div>
                    <div class="txt-hidden">
                        Remote Play
                    </div>
                </div>
                <div class="line"></div>
                <div class="box-hidden">
                    <div class="title-hidden">
                        Virtual Reality
                    </div>
                    <div class="txt-hidden">
                        VR Games & Experiences
                    </div>
                    <div class="txt-hidden">
                        VR Hardware
                    </div>
                </div>
                <div class="line"></div>
                <div class="box-hidden">
                    <div class="title-hidden">
                        Platforms
                    </div>
                    <div class="txt-hidden">
                        Mac OS X
                    </div>
                    <div class="txt-hidden">
                        SteamOS + Linux
                    </div>
                </div>
                <div class="line"></div>
                <div class="box-hidden">
                    <div class="title-hidden">
                        Additionnal Content
                    </div>
                    <div class="txt-hidden">
                        Soundtracks
                    </div>
                </div>
            </div>

            <div class="column-hidden">
                <div class="box-hidden">
                    <div class="title-hidden">
                        Game Genres
                    </div>
                    <div class="txt-hidden">
                        Action
                    </div>
                    <div class="txt-hidden">
                        Adventure
                    </div>
                    <div class="txt-hidden">
                        Casual
                    </div>
                    <div class="txt-hidden">
                        Indie
                    </div>
                    <div class="txt-hidden">
                        Massively Multiplayer
                    </div>
                    <div class="txt-hidden">
                        Racing
                    </div>
                    <div class="txt-hidden">
                        RPG
                    </div>
                    <div class="txt-hidden">
                        Simulation
                    </div>
                    <div class="txt-hidden">
                        Sports
                    </div>
                    <div class="txt-hidden">
                        Strategy
                    </div>
                </div>
                <div class="line"></div>
                <div class="box-hidden">
                    <div class="txt-hidden">
                        More Popular Tags...
                    </div>
                </div>
            </div>

            <div class="column-hidden bless">
                <div class="box-hidden">
                    <div class="title-hidden">
                        Software
                    </div>
                    <div class="txt-hidden">
                        Animation & Modeling
                    </div>
                    <div class="txt-hidden">
                        Audio Production
                    </div>
                    <div class="txt-hidden">
                        Design & Illustration
                    </div>
                    <div class="txt-hidden">
                        Education
                    </div>
                    <div class="txt-hidden">
                        Game Development
                    </div>
                    <div class="txt-hidden">
                        Photo Editing
                    </div>
                    <div class="txt-hidden">
                        Utilities
                    </div>
                    <div class="txt-hidden">
                        Video Production
                    </div>
                    <div class="txt-hidden">
                        Web Publishing
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>