.container{
    margin-top: 6vh;
    color: #fff;
    background: #181818;
    overflow: auto;
    z-index: 2;

    height: 94vh;
}

.wide{
    margin-left: 240px;
    width: calc(100vw - 240px);
    .content .block{
        flex: 1 0 21%;
    }
}

.small{
    margin-left: 72px;
    width: calc(100vw - 72px);

    .content .block{
        flex: 1 0 16%;
    }
}

.content{
    margin-top: 25px;
    width: 95%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.block{
    max-width: 22%;
    min-width: 200px;
    height: auto;
    width: auto;
    
    cursor: pointer;
    margin: 0 10px 50px 10px;

    .image{
        height: 200px;
        width: 100%;
        border: solid 1px #323232;
        text-align: center;
        background: #aaa;

        .vignette{
            max-width: 100%;
            max-height: 100%;

            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .info{
        display: flex;
        padding-right: 24px;
    }

    .circle{
        width: 35px;
        height: 35px;
        border-radius: 50%;
        background: #323232;
        margin: 5px 10px 5px 0;

        img{
            height: 100%;
            width: 100%;

            border-radius: 50%;
        }
    }

    .text-info{
        width: 90%;
    }

    .title{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;

        font-weight: 600;
        width: 100%;
        height: 20px;
        margin-bottom: 6px;
    }

    .info-channel{
        color: #aaa;
        font-size: .9em;
        line-height: 1.4em;

        .name{
            width: fit-content;
        }

        .name:hover{
            color: #fff;
        }

        .data{
            display: inline-block;
        }

        .data::after{
            content: ".";
            margin: 4px 4px;
            font-weight: bold;
            font-size: 1.3em;
        }

        .gt{
            display: flex;
            height: 18px;
            width: 100%;
            line-height: 1.3em;
        }
    }
}

.tooltipGrey{
    visibility: hidden;
    width: fit-content;
    background: #aaa;
    color: #fff;
    font-size: .8em;
    text-align: center;
    padding: 2.5px 5px;
    opacity: 0;
    transition: opacity 0.5s;

    position: absolute;

    z-index: 1;
}

.name:hover .tooltipGrey{
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 800px){
    .container{
        margin-top: 6vh;
        color: #fff;
        background: #181818;
        overflow: auto;
        z-index: 2;
    
        height: 94vh;
    }
    
    .small,.wide{
        margin-left: 0px;
        width: 100%;
    
        .content .block{
            flex: 1 0 100%;
        }
    }

    .content{
        margin-top: 25px;
        width: 100%;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .block{
        max-width: 80%;
        height: auto;
        width: auto;
        height: fit-content;
        cursor: pointer;
        margin: 0 0 50px 0;

        position: relative;
        left: 50%;
        transform: translateX(-50%);
    
        .image{
            width: 100%;
            max-height: 200px;
            border: solid 1px #323232;
            text-align: center;
            background: #181818;
            border: none;
    
            .vignette{
                max-width: 100%;
                max-height: 200px;
                height: auto;
                width: auto;

                position: relative;
                top: 50%;
                transform: translateY(-50%);
            }
        }
    }
}

