<div class="special">
    <div class="top">
        <div class="title">
            Special Offers
        </div>
        <div class="more">
            Browse More
        </div>
    </div>

    <div class="slide">
        <div class="img left" (click)="onDaily()">
            <div class="img-f">
                <img src="../../../../assets/daily-fond.jpg">
            </div>
            <div class="bottom">
                <img src="../../../../assets/steam/bg-special.jpg">
                <div class="info">
                    <div class="title-deal">
                        Weekend Deal
                    </div>
                    <div class="date">
                        Offer ends 26 Oct @ 6:00pm.
                    </div>
                    <div class="reduc">
                        Up to -80%
                    </div>
                </div>
            </div>
        </div>
        <div class="img middle" (click)="onYoutube()">
            <div class="img-f">
                <img src="../../../../assets/youtube-fond.jpg">
            </div>
            <div class="bottom">
                <img src="../../../../assets/steam/bg-special.jpg">
                <div class="info">
                    <div class="title-deal">
                        Weekend Deal
                    </div>
                    <div class="date">
                        Offer ends 26 Oct @ 6:00pm.
                    </div>
                    <div class="reduc">
                        -50%
                    </div>
                </div>
            </div>
        </div>
        <div class="img right">
            <div class="mini">
                <div class="img-f mini">
                    <img src="../../../../assets/steam/tactic.jpg">
                </div>
                <div class="info-mini">
                    <div class="title-deal">
                        Today's deal!
                    </div>
                    <div class="date">
                        {{ timeSale }}
                    </div>
                </div>
                <div class="reduc">
                    -79%
                </div>
            </div>
            
            <div class="mini">
                <div class="img-f mini">
                    <img src="../../../../assets/steam/collec.jpg">
                </div>
                <div class="info-mini">
                    <div class="title-deal">
                        Today's deal!
                    </div>
                    <div class="date">
                        {{ timeSale }}
                    </div>
                </div>
                <div class="reduc">
                    -85%
                </div>
            </div>
        </div>
    </div>
</div>