<div class="footer">
    <div class="content">
        <div class="logo">
            <img src="../../../../assets/daily-logo.png" class="img-logo">
        </div>

        <div class="txt">
            <div class="top">
                <div class="link-txt">
                    About
                </div>
                <div class="link-txt">
                    What's new
                </div>
                <div class="link-txt">
                    Help center
                </div>
                <div class="link-txt">
                    Jobs
                </div>
                <div class="link-txt">
                    API
                </div>
                <div class="link-txt">
                    Becoming partner
                </div>
                <div class="link-txt">
                    Manage cookies
                </div>
            </div>

            <div class="bottom">
                <div class="link-txt">
                    Privacy & cookies
                </div>
                <div class="link-txt">
                    Terms of Service
                </div>
                <div class="link-txt">
                    Parental filter: <span class="blue">On</span>
                </div>
                <div class="link-txt">
                    All videos
                </div>
                <div class="link-txt">
                    Location: <span class="blue">France</span>
                </div>
            </div>
        </div>
    </div>
</div>
