<div class="container">
    <div class="head">
        <div class="title">
            Copycat
        </div>
        <div class="subtitle">
            Don't get fooled by the fake
        </div>
    </div>


     
    <div class="content">
        <div class="block" routerLinkActive="active" (click)='onYoutube()'>
            <img class="imgYoutube" src="../../../assets/youtube-fond.jpg" >
        </div>
        <div class="block" routerLinkActive="active" (click)='onSteam()'>
            <img class="imgSteam" src="../../../assets/steam-fond.jpg">
        </div>
        <div class="block" routerLinkActive="active" (click)='onDaily()'>
            <img class="imgDaily" src="../../../assets/daily-fond.jpg" >
        </div>
    </div>  

    <div class="bg"></div>
    
</div>