.container{
    width: 100%;
    height: 100vh;
}

.head{
    position: relative;
    top: 20%;
    left: 5%;
    width: 60%;
}

.subtitle{
    font-weight: 300;

    line-height: 1em;

    color: #aaa;
}

.title{
    font-weight: 300;

    font-size: 4em;
    line-height: 2em;

    color: #181818;
}

.content{
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    max-height: 300px;
    height: auto;
    width: auto;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    .block{
        max-height: 100%;
        max-width: 30%;
        height: auto;
        width: auto;
        transition: .3s;

        cursor: pointer;

        img{
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }
    }

    .block:hover{
        transform: scale(1.1);
    }
}

.bg{
    background: rgb(211, 211, 211);
    height: 100%;
    width: 100%;

    position: absolute;
    right: 0;
    top: 0;

    clip-path: polygon(80% 38%, 100% 0, 100% 35%, 100% 70%, 100% 100%, 50% 100%, 0 100%, 35% 84%, 53% 71%, 65% 58%);

    z-index: -1;
}

@media only screen and (min-width: 800px){
    .subtitle{
        font-size: 3em;
    }
}

@media only screen and (max-width: 800px){
    .subtitle{
        font-size: 2em;
    }
}