.home{
    width: 100%;
    height: 100%;

    background: url(../../../../assets/steam/bg-steam.png) center top no-repeat #1b2838;

    .banner{
        position: relative;
    }

    .container{
        display: flex;

        margin: auto;

        .content{
            max-width: 100%;
            margin: 20px 10px;
        }
    }

    .onglet{
        display: flex;
    }

    .bottom-content{
        width: 100%;

        background: linear-gradient( to bottom, rgba(42,71,94,1.0) 5%, rgba(42,71,94,0.0) 70%);
    }

    .temp{
        max-width: 100%;
        margin-top: 50px;
    }
}

@media only screen and (min-width: 800px){
    .container{
        width: 75%;
    }

    .banner{
        width: 100%;
        height: 450px;

        background: url(../../../../assets/steam/banniere.jpg) no-repeat;
        position: absolute;
        top: 0;
        overflow: hidden;
    }
}

@media only screen and (max-width: 800px){
    .container{
        width: 100%;
    }

    .banner{
        height: 46vw;

        background: url(../../../../assets/steam/banniere.jpg) no-repeat;
        position: absolute;
        top: 0;
        overflow: hidden;
        
    }
}