<div class="home">
    <app-header-steam></app-header-steam>
    <div class="banner" >
        <app-top-steam></app-top-steam>
    </div>
    
    <div class="container" (window:resize)="setSide($event)">
        <app-side-steam *ngIf="side"></app-side-steam>

        <div class="content">
            <app-special-steam></app-special-steam>
            <div class="temp">
                <app-reco-steam></app-reco-steam>
            </div>
            <div class="temp">
                <app-browse></app-browse>
            </div>
        </div>
    </div>

    <div class="temp">
        <app-foot-steam></app-foot-steam>
    </div>
    
</div>


