<div class="side">
    <div class="sale">
        <div class="img">
            <a href="https://store.steampowered.com/digitalgiftcards/">
                <img src="../../../../assets/steam/sale.png">
            </a>
        </div>
    </div>

    <div class="block-link">
        <div class="section">
            <div class="title">
                Gift cards
            </div>
            <div class="block-txt">
                <div class="link">
                    <a href="https://store.steampowered.com/digitalgiftcards/">
                        Now Available on Steam
                    </a>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="title">
                Recommended
            </div>
            <div class="block-txt">
                <div class="link">
                    <a href="https://store.steampowered.com/login/?redir=recommended%2Ffriendactivity%2F&snr=1_4_4__125">
                        By Friends
                    </a>
                </div>
                <div class="link">
                    <a href="https://store.steampowered.com/curators/">
                        By Curators
                    </a>
                </div>
                <div class="link">
                    <a href="https://store.steampowered.com/tag/browse/?snr=1_4_4__125#yours">
                        Tags
                    </a>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="title">
                Discovery Queues
            </div>
            <div class="block-txt">
                <div class="link">
                    <a href="https://store.steampowered.com/">
                        Recommendations
                    </a>
                </div>
                <div class="link">
                    <a href="https://store.steampowered.com/">
                        New Releases
                    </a>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="title">
                Browse Categories
            </div>
            <div class="block-txt">
                <div class="link">
                    <a href="https://store.steampowered.com/search/?filter=topsellers">
                        Top Sellers
                    </a>    
                </div>
                <div class="link">
                    <a href="https://store.steampowered.com/explore/new/">
                        New Releases
                    </a>
                </div>
                <div class="link">
                    <a href="https://store.steampowered.com/explore/upcoming/">
                        Upcomming
                    </a>
                </div>
                <div class="link">
                    <a href="https://store.steampowered.com/specials#tab=TopSellers">
                        Specials
                    </a>
                </div>
                <div class="link">
                    <a href="https://store.steampowered.com/vr/">
                        Virtual Reality
                    </a>
                </div>
                <div class="link">
                    <a href="https://store.steampowered.com/controller/">
                        Controller Friendly
                    </a>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="title">
                Browse By Genre
            </div>
            <div class="block-txt">
                <div class="link">
                    <a href="https://store.steampowered.com/genre/Free%20to%20Play/">
                        Free to Play
                    </a>
                </div>
                <div class="link">
                    <a href="https://store.steampowered.com/genre/Early%20Access/">
                        Early Access
                    </a>
                </div>
                <div class="link">
                    <a href="https://store.steampowered.com/tags/en/Action/">
                        Action
                    </a>
                </div>
                <div class="link">
                    <a href="https://store.steampowered.com/tags/en/Adventure/">
                        Adventure
                    </a>
                </div>
                <div class="link">
                    <a href="https://store.steampowered.com/tags/en/Casual/">
                        Casual
                    </a>
                </div>
                <div class="link">
                    <a href="https://store.steampowered.com/tags/en/Indie/">
                        Indie
                    </a>
                </div>
                <div class="link">
                    <a href="https://store.steampowered.com/tags/en/Massively%20Multiplayer/">
                        Massively Multiplayer
                    </a>
                </div>
                <div class="link">
                    <a href="https://store.steampowered.com/tags/en/Racing/">
                        Racing
                    </a>
                </div>
                <div class="link">
                    <a href="https://store.steampowered.com/tags/en/RPG/">
                        RPG
                    </a>
                </div>
                <div class="link">
                    <a href="https://store.steampowered.com/tags/en/Simulation/">
                        Simulation
                    </a>
                </div>
                <div class="link">
                    <a href="https://store.steampowered.com/tags/en/Sports/">
                        Sports
                    </a>
                </div>
                <div class="link">
                    <a href="https://store.steampowered.com/tags/en/Strategy/">
                        Strategy
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>