.top{
    display: flex;
    position: relative;
    margin-bottom: 5px;
    margin-left: 5px;

    .title{
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
        
        .main{
            font-size: 16px;
        }

        .second{
            color: #ffffff99;
        }
    }

    .more{
        position: absolute;
        right: 5px;
        bottom: 0;

        padding: 0 15px;

        color: #fff;
        border: solid 1px rgba(255,255,255,0.4);
        text-transform: uppercase;
        font-size: 12px;
        line-height: 20px;

        cursor: pointer;
    }

    .more:hover{
        border-color: #fff;
    }
}

.content{
    display: flex;

    position: relative;

    width: 100%;
    height: 350px;

    .img{
        width: 616px;
        height: 100%;

        background: #000;
        z-index: 1;

        cursor: pointer;
    }

    .block{
        width: 324px;
        padding: 20px;

        background: linear-gradient( to bottom, #506c86 5%, #10143100 96%);
        border-radius: 3px;

        box-shadow: 1px 1px 5px #000;

        .review{
            color: #ebebeb;
            font-size: 18px;
            height: 210px;
            overflow: hidden;
        }

        .read{
            width: fit-content;
            margin: auto;

            color: #c1dbf4;
            font-size: 12px;
            cursor: pointer;
        }

        .read:hover{
            color: #fff;
        }

        .user{
            position: relative;

            display: flex;
            width: 97%;
            margin: auto;
            margin-top: 10px;

            .icon{
                background: #000;
                height: 40px;
                width: 40px;

                margin-right: 5px;

                cursor: pointer;

                img{
                    width: 100%;
                    height: 100%;
                }
            }

            .name{
                font-weight: 600;
                color: #c1dbf4;
                font-size: 13px;
                line-height: 16px;

                cursor: pointer;
            }

            .played,.other{
                font-size: 10px;
                color: #8091a2;
                line-height: 12px;
            }
        }
    }
}

@media only screen and (min-width: 800px){
    .reco{
        max-width: 100%;
    }
}

@media only screen and (max-width: 800px){
    .reco{
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .reco{
        max-width: 95%;
    }
}