<div class="reco">
    <div class="top">
        <div class="title">
            <div class="main">
                The community recommends
            </div>
            <div class="second">
                These games today
            </div>
        </div>
        <div class="more">
            customize, explore by tag, & more
        </div>
    </div>

    <div class="content">
        <div class="img">
            <img src="../../../../assets/steam/amnesia.jpg">
        </div>
        <div class="block text">
            <div class="review">
                "Frictional Games' SOMA was one of my most, if not the most memorable experience in gaming, so I had pretty high expectations with Amnesia: Rebirth - and I must say, initially I was quite..."
            </div>
            <div class="read">
                Read Entire Review
            </div>
            <div class="user">
                <div class="icon">
                    <img src="../../../../assets/steam/pp.jpg">
                </div>
                <div class="desc">
                    <div class="name">
                        Urthiel
                    </div>
                    <div class="played">
                        Played 10,1 hrs at review time
                    </div>
                    <div class="other">
                        7 people found this review helpful
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>