<div class="browse">
    <div class="top">
        <div class="title">
            Browse steam
        </div>
    </div>

    <div class="content">
        <div class="btn">
            <a href="https://store.steampowered.com/explore/new/" target="_blank">
                <div class="text">
                    New Releases
                </div>
            </a>
        </div>
        <div class="btn">
            <a href="https://store.steampowered.com/search/?specials=1" target="_blank">
                <div class="text">
                    Specials
                </div>
            </a>
        </div>
        <div class="btn">
            <a href="https://store.steampowered.com/genre/Free%20to%20Play/" target="_blank">
                <div class="text">
                    Free Games
                </div>
            </a>
        </div>
        <div class="btn">
            <a href="https://store.steampowered.com/tag/browse/#global_492" target="_blank">
                <div class="text">
                    By User Tags
                </div>
            </a>
        </div>
    </div>
</div>