<div class="header">
    <div class="intern">
        <div class="logo">
            <img class="logo-img" src="../../../../assets/daily-white-logo.png" (click)="redirectHome()">
        </div>
    
        <div class="interraction">
            <div class="hw btnH search">
                <div class="icon">
                    <fa-icon [icon]="faSearch"></fa-icon>
                </div>
                <div class="text">
                    Search
                </div>
            </div>
            <div class="hw btnH ml50 library">
                <div class="icon">
                    <fa-icon [icon]="faAlignRight" rotate="90"></fa-icon>
                </div>
                <div class="text">
                    Library
                </div>
            </div>
            <div class="hw btnH ml50 login">
                <div class="icon">
                    <fa-icon [icon]="faUser"></fa-icon>
                </div>
                <div class="text">
                    Login
                </div>
            </div>
            <div class="btnH ml50 register">
                <div class="text btn-register">
                    Register
                </div>
            </div>
        </div>
    </div>
</div>